.header-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Full viewport height to center vertically */
  text-align: center; /* Center text horizontally */
  padding: 5%;
}

.headshot {
  width: 12em;
  height: 12em;
  border-radius: 100%;
  object-fit: cover;
  margin-bottom: 1em; 
  aspect-ratio: 1 / 1;
}

@media (min-width: 1280px) { /* Material-UI lg breakpoint */
  .header-container {
    position: fixed;
    top: 0;
    width: calc((5 / 12) * 100vw);
  }
}